@import './base.css';

#app {
  max-width: 100%;
  margin: 0;
  padding: 1.25rem 1.5rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(221, 83%, 53%, 1);
  transition: 0.2s ease;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(59, 130, 246, 0.15);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
    padding: 1.5rem 2rem;
  }
}
